<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/styles.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jsoneditor/9.9.0/jsoneditor.min.js" integrity="sha512-WuimD+3eJ3qkskeMQiQZesaYjwyBiTN2Xg2tI60IDp5jx402/u8lLZAqCgAei92NInz0Jn+xYqJKYCbxic4hIA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jsoneditor/9.9.0/jsoneditor.css" integrity="sha512-NGELF6nbKCOKdzzfnY/DOKS5W25MVV5iZb92NK3fIwnKpL1OEUXibeepvzxAEgQtWgXGOzllOUpCybmenKDeRQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
<section class = 'row'>
<section class = 'col'>
    <fieldset>
        <legend>Manage Database</legend>
        <fieldset class="hidden">
            <legend>Filter</legend>
            <div id="filter-editor"></div>
        </fieldset>
        <fieldset>
            <legend>Data</legend>
            <div id="data-editor"></div>
        </fieldset>
        <fieldset class="change-types">
            <legend>Interaction</legend>
            <label>Create</label> <input type="radio" name="changeType" value="create" />
            <label>Read</label> <input type="radio" checked name="changeType" value="read" />
            <label>Update</label> <input type="radio" name="changeType" value="update" />
            <label>Delaytay</label> <input type="radio" name="changeType" value="delaytay" />
        </fieldset>
        <button id="interactButton">Interact</button>
    </fieldset>
</section>
<section class = 'col'>
    <h1>Results</h1>
    <pre><code id="results"></code></pre>
</section>
</section>
<script type="text/javascript" src='main.js'></script>
</body>
</html>