body {
    height: 95vh;
}

.row {
    display: flex;
    align-items: center;
  }
.col {
    flex: 50%;
    padding: 2.5%;
}

@media (max-width: 700px) {
    .row {
        flex-direction: column;
    }
}

.grid-fieldset {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: max-content;
    margin: auto;
}

.activeAction {
    color: white;
    background: black;
}

legend {
    margin: auto;
}

.hidden {
    display: none;
}

#resultsAge {
    text-align: center;
    display: block;
}